@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    font-family: "Inter", sans-serif;
}

#header {
    width: 100%;
    background-color: #fff;
}

nav {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    font-weight: 400;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    background-color: #fff;
}

#nav_left {
    font-size: 20px;
    font-weight: bold;
    color: #06C167;
    cursor: pointer;
}

#nav_right {
    display: flex;
    align-items: center;
}

#nav_right ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#nav_right ul li {
    margin: 0 20px;
    cursor: pointer;
}

#nav_right ul li:last-child {
    margin-right: 0;
}

#nav_right ul li a {
    text-decoration: none;
    color: #1D1D1F;
    font-size: 16px;
    transition: color 0.3s ease;
}

#nav_right ul li a:hover {
    color: #06C167;
}